/*-----------------Imported Fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Righteous&family=Roboto+Condensed&display=swap');

body, html {
    width: 100%;
    height: 100%;
    font-family: 'Righteous', sans-serif;
    overflow: hidden;
}

.background {
    background-image: url("../images/background-pic.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -5;
}

div{
    margin: 0 auto;
    width: 50vw;
    height: fit-content;
 }
 h1{
     color: rgb(26 61 105);
     text-align: center;
     font-size: 4vw;
     margin-top: 2vw;
     text-transform: uppercase;
     text-decoration-line: underline;
 }

 h2{
    color: rgb(26 61 105);
    text-align: center;
    font-size: 3vw;
    margin-top: 1.5vw;
}

.playGame {
    color: rgb(238, 238, 238);
    background-color: rgb(34, 55, 102);
    font-size: 2.5vw;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 11vw;
    text-transform: uppercase;
    letter-spacing: 0.15vw;
    padding: 0.9vw;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
}

.playGame:hover {
    transform: scale(1.1);
}

.playGame:focus {
    outline:0;
}

.playGame:active {
    transform: translateY(4px);
}

#countDown {
    width: fit-content;
    font-size: 2.5vw;
    margin: 0 auto;
    margin-bottom: 1%;
}

/*-------------QUESTIONS SECTION------------*/


.questionBox{
    display: none;
    position: relative;
    text-align: center;
}
#question-bg{
    width: 80%;
    height: 80%;
}

#quotes{
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.2vw;
    line-height: 4vw;
}

.answerBox{
    display: none;
    position: relative;
    text-align: center;
    font-size: 1.5vw;
}

tr{
    width:100%;
    height: 100%;
    display: inline-block;
}

#a, #b, #c, #d{
    position: absolute;
    width: 10.6vw;
    height: 8.7vw;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
    background-color: #ffffffaf;
    border: 1px solid #ffffffaf;
}

#a{
    top: 18%;
    left: 0.5%;
}

#b{
    top: 18%;
    left: 25.3%;
    
}
#c{
    top: 18%;
    right: 26.4%;

}
#d{
    top: 18%;
    right: 1.6%;
}

.hov:hover{
    background-color: #20150e !important;
    border: 1px solid #ff6600 !important;
}

.rightAnswer{
    background-color:#06d306b7 !important;
    border-color: #184418c0 !important;
}

.rightHeader{
    color: #1b1313 !important;
    background-color: #06d306b7;
    border-radius: 10px;
}

.wrongAnswer{
    background-color:#f50404e5 !important;
    border-color: #811919 !important;
}

.wrongHeader{
    color: #1b1313 !important;
    background-color: #e0272766;
    border-radius: 10px;
}

#numCount{
    position: absolute;
    transform: rotate(-90deg);
    right: 74%;
    bottom: 36%;
    font-size: 2vw;
    text-transform: uppercase;
}

#results {
    display: none;
    font-size: 1.4vw;
    position: absolute;
    top: 16%;
    right: 1.5%;
}

#done {
    position: absolute;
    top: 34%;
    right: 27%;
}

#answer-box {
    text-align: center;
    background-color: #585796;
    width: 700px;
    height: 250px;
    display: none;
}

#a, #b, #c, #d {
    
    background-color: #ffffffaf;
    border: 1px solid #ffffffaf;
}

#answer-container {
    margin-top: 10px;
}

table {
    height: 200px;
    margin-top: 20px;
}

#playAgain{
    display: none;
    justify-content: center;
}

#correct {
    float: left;
    width: fit-content;
    position: absolute;
    left: 22%;
    top: 195%;
    background-color: #0b920bd0;
    color: white;
    padding: 0.7%;
    border-radius: 5px;
}

#incorrect {
    float: left;
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 195%;
    background-color: #ff0000cb;
    color: #ffffff;
    padding: 0.7%;
    border-radius: 5px;
   
}

#unanswered {
    float: left;
    width: fit-content;
    position: absolute;
    top: 500%;
    left: 40%;
    background-color: #0000ffc2;
    color: #ffffff;
    padding: 0.7%;
    border-radius: 5px;
}

