/*-----------------Imported Fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Righteous&family=Roboto+Condensed&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.background {
    background-image: url(../images/bg-spotlight.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#title {
    font-family: 'Righteous', sans-serif;
    color: rgb(19, 88, 116);
    font-size: 100px;
    text-transform: uppercase;
}

#title span {
    background-color: rgba(250, 247, 246, 0.233);
}