/*-----------------Imported Fonts---------------*/
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Righteous&family=Roboto+Condensed&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.background {
    background-image: url(../images/bg-spotlight.jpeg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#title {
    font-family: 'Righteous', sans-serif;
    color: rgba(88, 106, 128, 0.945);
    font-size: 100px;
    text-transform: uppercase;
    margin-top: 10px;
}

#title span {
    background-color: rgba(250, 247, 246, 0.233);
}

#film-image {
    color: rgba(255, 255, 255, 0.808);
}

#title-undertext {
    font-family: 'Righteous', sans-serif;
}

.start {
    color: white;
    background-color: rgb(34, 55, 102);
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.start:hover {
    transform: scale(1.1);
}

.start:focus {
    outline:0;
}

.start:active {
    transform: translateY(4px);
}

#timer {
    width: fit-content;
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 1%;
    margin-top: 1%;
    padding: 0 1% 0 1%;
}

/*-------------QUESTIONS SECTION------------*/

.question-part {
    height: 300px;
}

#question-box {
    text-align: center;
    background-color: #5f5e9a61;
    width: 500px;
    height: 200px;
    margin-bottom: 20px;
    display: none;
}

#answer-box {
    text-align: center;
    background-color: #585796;
    width: 700px;
    height: 250px;
}

tr {
    width: 100%;
    height: 100%;
    display: inline-block;
}

#a, #b, #c, #d {
    position: absolute;
    width: 10.6vw;
    height: 8.7vw;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1%;
    padding-left: 1%;
    background-color: #ffffffaf;
    border: 1px solid #ffffffaf;
}



#quotes {
    position: absolute;
}

#number-count {
    position: absolute;
}